<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FashionHubApp"
        android:usesCleartextTraffic="true">

        <!-- SPLASH -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- LOGIN -->
        <activity
            android:name=".activities.auth.LoginActivity"
            android:exported="false"/>

        <!-- REGISTER -->
        <activity
            android:name=".activities.auth.RegisterActivity"
            android:exported="false"/>

        <!-- USER -->
        <activity
            android:name=".activities.user.UserDashboardActivity"
            android:exported="false"/>

        <!-- ADMIN -->
        <activity
            android:name=".activities.admin.AdminDashboardActivity"
            android:exported="false"/>

        <!-- OTHER -->
        <activity
            android:name=".activities.user.ProductDetailActivity"
            android:exported="false"/>

        <activity
            android:name=".activities.user.CartActivity"
            android:exported="false"/>

        <activity
            android:name=".activities.user.CheckoutActivity"
            android:exported="false"/>

        <activity
            android:name=".activities.user.PaymentActivity"
            android:exported="false"/>

        <activity
            android:name=".activities.user.ProfileActivity"
            android:exported="false"/>

        <activity
            android:name=".activities.user.OrdersActivity"
            android:exported="false"/>

    </application>

</manifest>